.vscode/
__pycache__/
debug_node/
*.pt
# assets/
build/
*.pth
*.onnx
*.plan
*.engine
NOTES.md
assets_old/
assets.zip
node_bk.py
assets/assets_creation/output/
assets/ycb
# *_rot_grid.npy
foundationpose/weights/onnx/trt_cache/
mobileclip2_b.ts